.Dark .container-section-6 {
    background-color: #262439;
}
.Dark .container-body-section-6 {
    background-color: #262439;
}
.Dark .name-section-6 {
    color: white;
}
.Dark .line-section-6 {
    background-color: white;
    border-bottom: 17px solid #262439;
}
.Dark .container-date-section-6 {
    color: white;
}
.Dark .container-yousef-how-section-6 {
    color: white;
}
.Dark .container-line-section-6 {
    background-color: white;
}
.Dark .container-body-section-6-6 {
    color: white;
}