.container-section-7 {
    width: 100%;
    height: 50vh;
    background-color: #11141d;
    padding: 50px;
}
.container-footer {
    width: 100%;
    height: 100%;
}
.container-footer-top {
    width: 100%;
    height: 70%;
    display: flex;
}
.container-footer-bottom {
    width: 100%;
    height: 30%;
    display: flex;
}
.container-left-footer {
    width: 70%;
    height: 100%;
}
.contianer-right-footer {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contianer-right-footer button {
    width: 160px;
    height: 50px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 20px;
    color: white;
    background-color: var(--1);
    border: 1px solid var(--1);
}
.container-top-footer {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
}
.container-bottom-footer {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #b8b9bb;
}
.container-left-footer-2 {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.container-item-footer {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: white;
}
.container-top-item {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.container-right-footer-2 {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}