.container-section-6 {
    width: 100%;
    height: 100vh;
    background-color: white;
    padding: 30px;
}
.container-body-section-6 {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    padding: 50px;
}
.container-left-section-6 {
    width: 50%;
    height: 100%;
}
.container-text-section-6 {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.name-section-6 {
    width: 50%;
    height: 100%;
    color: black;
    font-size: 33px;
}
.line-section-6 {
    width: 40%;
    height: 20px;
    background-color: black;
    border-bottom: 17px solid white;
}
.container-image-section-6 {
    height: calc(100% - 70px);
    width: 100%;
    background-color: blue;
}
.container-right-section-6 {
    width: 50%;
    height: 100%;
    padding-left: 20px;
}
.container-ul-section-6 {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 30px;
    flex-direction: column;
}
.container-li-section-6 {
    width: 100%;
    height: 150px;
}
.container-date-section-6 {
    width: 40%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 20px;
}
.container-yousef-how-section-6 {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.contianer-line-section-6 {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-line-section-6 {
    width: 60%;
    height: 2px;
    background-color: black;
}
.container-text-section-6-6 {
    height: 100%;
    width: 90%;
    font-size: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.container-body-section-6-6 {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}