@media (max-width: 414px)  {
    body {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .section-contianer {
        width: 100%;
        height: 915px;
        background-color: white;
    }
    .container-nav-bar {
        height: 150px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-left: 25px;
        padding-right: 25px;
    }
    .container-logo {
        width: 10%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container-logo svg {
        height: 100%;
        width: 100%;
    }
    .contianer-list {
        width: 65%;
        height: 100%;
        display: flex;
    }
    .container-text {
        width: 100%;
        height: 100%;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
    }
    .container-button {
        width: 35%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container-button button {
        width: 100% !important;
        height: 30% !important;
        background-color: white;
        border: 1px solid black;
        border-radius: 10px;
        cursor: pointer;
        font-size: 12px;
    }
    .container-info {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container-text-left {
        width: 100%;
        height: 100%;
        background-color: white;
        padding-left: 70px;
        padding-top: 25px;
        padding-right: 10px;
        color: black;
    }
    .container-text-right {
        width: 100%;
        height: 100%;
        background-color: white;
        padding-left: 10px;
        padding-top: 30px;
        padding-right: 10px;
        color: black;
    }
    .container-name {
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 39px;
        font-weight: 900;
        font-weight: bolder;
    }
    .container-left-image {
        display: none;
    }
    .container-job {
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        font-size: 35px;
    }
    .container-job p {
        width: 35%;
        height: 2px;
    }
    .text-job {
        background-color: transparent;
    }
    .container-infoo {
        height: 25%;
        width: 100%;
        display: flex;
        justify-content:  center;
        font-size: 25px;
    }
    .container-buttons {
        width: 100%;
        height: 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
}